[submodule "viper/modules/Mach-O"]
	path = viper/modules/pymacho_helper
    url = https://github.com/viper-framework/Mach-O.git
    branch = master
[submodule "viper/modules/pdftools"]
    path = viper/modules/pdftools
    url = https://github.com/viper-framework/pdftools.git
    branch = master
