include LICENSE
include README.rst
include README.md
include CHANGELOG
include requirements.txt
include requirements-*.txt
include viper.conf.sample
include settings_local.py.sample
recursive-include data/peid/ *.*
recursive-include data/yara/ *.*
global-exclude __pycache__
global-exclude *.py[co]
