appdirs==1.4.3
asn1crypto==0.22.0
beautifulsoup4==4.5.3
cached-property==1.3.0
cffi==1.10.0
cryptography==1.9
dnspython==1.15.0
enum34==1.1.6
future==0.16.0
idna==2.5
ipaddress==1.0.18
itypes==1.1.0
Jinja2==2.9.6
jsonschema==2.6.0
MarkupSafe==1.0
mccabe==0.6.1
openapi-codec==1.3.1
packaging==16.8
pyasn1==0.2.3
pycodestyle==2.3.1
pycparser==2.17
pycrypto==2.6.1
pyelftools==0.24
pylzma==0.4.8
pymisp==2.4.71
pyOpenSSL==17.0.0
pyparsing==2.2.0
pypdns==1.3
pypssl==2.1
pytz==2017.2
r2pipe==0.8.9
simplejson==3.10.0
virustotal-api==1.1.5

git+https://github.com/viper-framework/pefile.git#egg=pefile
git+https://github.com/smarnach/pyexiftool.git#egg=pyexiftool


# office module
olefile==0.44
git+https://github.com/decalage2/oletools.git
## Flash lookup
git+https://github.com/viper-framework/xxxswf.git

# apk module
ipython < 6; python_version == '2.7'
git+https://github.com/androguard/androguard.git

# pe module (verify sigs)
git+https://github.com/sebdraven/verify-sigs.git

# archiving
rarfile==3.0

yara-python==3.5.0

# Scraper
git+https://github.com/viper-framework/ScrapySplashWrapper.git
