Django
SQLAlchemy
beautifulsoup4
bitstring
bottle
cffi
dnspython
enum34
flake8
idna
ipaddress
pbkdf2
py3kwarn
pyasn1
pycparser
pycrypto
pyelftools
pylzma
pymisp
pypdns
pypssl
pytest
pytest-cov
python-dateutil
python-magic
r2pipe
requests
requests-cache
scandir
six
terminaltables
tox
virustotal-api
yara-python
git+https://github.com/viper-framework/pefile.git#egg=pefile
git+https://github.com/smarnach/pyexiftool.git#egg=pyexiftool
git+https://github.com/crackinglandia/pype32.git#egg=pype32
git+https://github.com/pyca/cryptography.git#egg=cryptography
git+https://github.com/kbandla/pydeep.git#egg=pydeep

# For peepdf
git+https://github.com/serprex/pythonaes.git
git+https://github.com/joeatwork/python-lzw.git
jsbeautifier
colorama

# pe module (verify sigs)
git+https://github.com/sebdraven/verify-sigs.git

# office module
olefile
git+https://github.com/viper-framework/oletools.git

# clamd module
pyclamd

# apk module
git+https://github.com/androguard/androguard.git
