-i https://pypi.org/simple
--extra-index-url https://lief-project.github.io/packages/

SQLAlchemy
beautifulsoup4
bitstring
bottle
cffi
dnspython
enum34
flake8
idna
ipaddress
pbkdf2
py3kwarn
pyasn1
pycparser
pycrypto
pyelftools
pylzma
pypdns
pypssl
pytest
pytest-cov
pytest-django
python-dateutil
python-magic
r2pipe
requests-cache
scandir
six
terminaltables
tox
virustotal-api
yara-python
cryptography
requests[socks]

pefile
git+https://github.com/smarnach/pyexiftool.git#egg=pyexiftool
git+https://github.com/kbandla/pydeep.git#egg=pydeep

# pe module (verify sigs)
git+https://github.com/sebdraven/verify-sigs.git#egg=verify-sigs

# office module
olefile
git+https://github.com/decalage2/oletools.git#egg=oletools
## Flash lookup
git+https://github.com/viper-framework/xxxswf.git#egg=xxxswf


# clamd module
pyclamd

# apk module
ipython < 6; python_version == '2.7'
androguard

# archiving
rarfile

# MISP
git+https://github.com/MISP/PyTaxonomies.git#egg=PyTaxonomies
git+https://github.com/MISP/PyMISPGalaxies.git#egg=PyMISPGalaxies
pymisp[fileobjects,virustotal] >= 2.4.84

# Scraper
git+https://github.com/viper-framework/ScrapySplashWrapper.git#egg=ScrapySplashWrapper

# Joe Sandbox
jbxapi>=3.1.3,<4

# Lief module
lief>=0.10.0.dev0 ; python_version >= '3.5'
