# appdirs==1.4.3 # unused?
# cached-property==1.3.0 # unused?
# enum34==1.1.6 # Unused?
# mccabe==0.6.1 # Dev Feature?
# pycodestyle==2.3.1 # Dev Feature?
# simplejson==3.10.0

# APK module
androguard==3.2.0

# ClamAV Module
pyclamd==0.4.0

# DNS Module
pypdns==1.3

# ELF Module
pyelftools==0.24

# Email module
dnspython==1.15.0
# SEE: olefile under Office module

# Fuzzy Module
# SEE: pydeep in requirements-base.txt

# Joe Sandbox module
jbxapi==2.3.0

# McAfee BUP Files Module
# SEE: olefile under Office module

# MISP
pymisp[fileobjects,virustotal] >= 2.4.96
jsonschema==2.6.0

# Office module
olefile==0.46
xxxswf==2.0.0
pyparsing==2.2.0
packaging==16.8

# PE module
pefile==2018.8.8

# PE module (verify sigs)
# SEE: bitstring in requirements-core.txt
pyasn1==0.4.2
pyOpenSSL==18.0.0
cryptography==2.3.1
cffi==1.11.2
asn1crypto==0.24.0
idna==2.6
ipaddress==1.0.22
pycparser==2.18

# PSSL Module
pypssl

# Radare
r2pipe==0.9.1

# Reports Module
beautifulsoup4==4.6.0

# SWF Module
pylzma==0.4.9

# VirusTotal Module
virustotal-api==1.1.7

# Yara Module
yara-python==3.7.0

# Rats
pycrypto==2.6.1


# Source Code Dependencies

# Scraper
git+https://github.com/viper-framework/ScrapySplashWrapper.git#egg=Scrapy

# PE module (verify sigs)
git+https://github.com/sebdraven/verify-sigs.git#egg=verify-sigs

# Office module
git+https://github.com/decalage2/oletools.git#egg=oletools

# MISP
git+https://github.com/MISP/PyTaxonomies.git#egg=PyTaxonomies
git+https://github.com/MISP/PyMISPGalaxies.git#egg=PyMISPGalaxies

# EXIF Module
ocrd-pyexiftool==0.2.0
