Django==2.0.1
django-bootstrap-form==3.3
django-crispy-forms==1.7.0
django-extensions==1.9.9
django-filter==1.1.0
django-rest-swagger==2.1.2
django-sslserver==0.20
django-url-filter==0.3.4
djangorestframework==3.7.7
djangorestframework-queryfields==1.0.0
drf-nested-routers==0.90.0
