python-magic
pefile
PrettyTable
pydeep
requests
SQLAlchemy
pycrypto
OleFileIO_PL
olefile
oletools
BeautifulSoup4
bottle
pylzma
pyelftools
bitstring
dnspython
git+https://github.com/smarnach/pyexiftool.git#egg=pyexiftool
pyasn1
M2Crypto
pymisp
