Django
django-bootstrap-form
django-crispy-forms
django-extensions
django-favicon
django-filter
django-rest-swagger==2.2.0
django-sslserver
django-url-filter
djangorestframework>=3.9.0
djangorestframework-queryfields
drf-nested-routers
whitenoise

# Viper API
openapi-codec==1.3.2
itypes==1.1.0

# Django
Jinja2>=2.10.1
MarkupSafe==1.1.1
pytz==2019.1
