--extra-index-url https://lief-project.github.io/packages/

# APK module
androguard==3.3.5

# ClamAV Module
pyclamd==0.4.0

# DNS Module
pypdns==1.4.1

# ELF Module
pyelftools==0.25

# Email module
dnspython==1.16.0
# SEE: olefile under Office module

# Fuzzy Module
# SEE: pydeep in requirements-base.txt

# Joe Sandbox module
jbxapi==3.0.0

# McAfee BUP Files Module
# SEE: olefile under Office module

# MISP
pymisp[fileobjects,virustotal] >= 2.4.96
jsonschema==3.0.1

# Office module
olefile==0.46
-e git+https://github.com/viper-framework/xxxswf.git@9188316eb7a179326d99bfde9fe0184bb3cee6a3#egg=xxxswf
pyparsing==2.4.0
packaging==19.0

# PE module
pefile==2019.4.18

# PE module (verify sigs)
# SEE: bitstring in requirements-core.txt
pyasn1==0.4.5
pyopenssl==19.0.0
cryptography==2.6.1
cffi==1.12.3
asn1crypto==0.24.0
idna==2.8
ipaddress==1.0.22
pycparser==2.19

# PSSL Module
pypssl==2.1

# Radare
r2pipe==1.2.0

# Reports Module
beautifulsoup4==4.7.1

# SWF Module
pylzma==0.5.0

# VirusTotal Module
virustotal-api==1.1.10

# Yara Module
yara-python==3.10.0

# Rats
pycrypto==2.6.1


# Source Code Dependencies

# Scraper
git+https://github.com/viper-framework/ScrapySplashWrapper.git#egg=ScrapySplashWrapper

# PE module (verify sigs)
git+https://github.com/sebdraven/verify-sigs.git#egg=verify-sigs

# Office module
oletools==0.54.1

# MISP
git+https://github.com/MISP/PyTaxonomies.git#egg=PyTaxonomies
git+https://github.com/MISP/PyMISPGalaxies.git#egg=PyMISPGalaxies

# EXIF Module
ocrd-pyexiftool==0.2.0

# LIEF module
lief==0.9.0.dev0 ; python_version >= '3.5'
