SQLAlchemy==1.0.11
bitstring==3.1.4
pbkdf2==1.3
python-dateutil==2.4.2
python-magic==0.4.10
requests==2.9.1
requests-cache==0.4.10
scandir==1.2
six==1.10.0
terminaltables==2.1.0
virustotal-api==1.0.9
pymisp==2.4.62.1

git+https://github.com/kbandla/pydeep.git#egg=pydeep
