{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="{% url 'main_page' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
</ol>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="text-center"><b>Viper Web Interface (Version: {{ version }})</b></div>
                    </div>
                </div>
                <div class="panel-body">
                    <p>The Web interface replicates the most common functions of Viper. It is project aware and most search functions are capable of spanning all projects.</p>
                    <p>It does not allow for <strong>ALL</strong> the functionality of the Command Line Interface</p>
                    <p>The Web and CLI are not independent, Files stored in one are visible to the other.</p>

                    <div class="alert alert-danger">
                        <h4>Warning</h4>
                        <p>Viper is designed to read and in some cases export files to your environment. The modules interface does not prevent this kind of action</p>
                        <p>Avoid unauthenticated access to the web interface</p>
                    </div>

                    <p>Viper web interface was originally created by <a href="http://techanarchy.net/">Kevin Breen</a>.</p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="text-center"><b>Available Extractors</b></div>
                    </div>
                </div>

                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <th>Name</th>
                    <th>Extensions</th>
                    <th>Password Support</th>
                    </thead>
                    <tbody>
                    {% for key, row in extractors.items %}
                    <tr id="{{ key }}">
                        <td>
                            <b>{{ row.title }} </b>
                            </td>
                            <td>
                                {% for item in row.supports_extensions %}{{ item }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
                            </td>
                            <td>
                                {% if row.supports_password %} <span class="glyphicon glyphicon glyphicon-ok text-success"></span>
                                {% else %} <span class="glyphicon glyphicon glyphicon-remove text-danger"></span>
                                {% endif %}
                            </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

{% endblock %}
