{% extends "base.html" %}

{% block title %}Logged out{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-1 col-sm-3"></div>
        <div class="col-xs-10 col-sm-6">
            <div align="center">
                <h4>Logged out!</h4>
                <p>&nbsp;</p>
                <p><a href="{% url 'login'%}"><button type="submit" class="btn btn-viper">Go back to Login</button></a></p>
            </div>
        </div>
        <div class="col-xs-1 col-sm-3"></div>
    </div>

{% endblock %}
