# This file is part of Viper - https://github.com/botherder/viper
# See the file 'LICENSE' for copying permission.

[modules]
store_output = True

[paths]
# Path to a folder that will be used for storing samples and resources.
# If left blank, the default will be $HOME/.viper
storage_path =
module_path = 

[database]
# Configure the database connection type example shown below
# Examples:
# sqlite:///foo.db
# postgresql://foo:bar@localhost:5432/mydatabase
# mysql://foo:bar@localhost/mydatabase
# mysql+pymysql://foo:bar@localhost/mydatabase
# If empty, default is a SQLite in $storage_path/viper.db
connection =

[http_client]
# http client settings for outgoing requests (e.g. download, VT)
# will be applied to requests and can be overridden per module

# Proxy specific settings:
# * https_proxy = e.g. http://user:pass@prx.example.com:3128 (will also set http_proxy)
# * no_proxy = host1.example.com,internal.domain
# If https_proxy and no_proxy are not set then settings from the environment will be used.
# If no proxy should be used then use https_proxy = False (overrides environment)
#https_proxy =
#no_proxy =

# tls_verify (default: True): Whether TLS certificates should be validated or not
#tls_verify = True|False

# tls_ca_bundle: Path to a (custom) ca/ca_bundle file for TLS certificate validation
#tls_ca_bundle = /root/my_ca_bundle.crt

# tls_client_cert: Path to a TLS client certificate (cert and key) which should be used
# for authentication
#tls_client_cert = /root/my_client_cert.pem


[autorun]
enabled = True

# Verbose True will print the output of each command.
# False will tell you a command has been run but not display the output
verbose = False

# Enter a comma separated list of command lines, as you would enter them
# in the CLI. You can use ; to chain commands.
# Commands are run in sequence and the output of MODULES is stored if
# `store_output` is set to True.
commands = yara scan -t, triage
